<section>
  <h1>Ride the Wave of CreamShark Trend</h1>
  <h2>Dive into real experiences with CreamShark Slides. Watch our customers splash with comfort and style!</h2>
  <button>Shop Now</button>
</section>

{% schema %}
  {
    "name": "mision",
    "presets": [
      {
        "name": "mision"
      }
    ]
  }
{% endschema %}